<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Title</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    {{>header}}
    <h2>About Us</h2>
    <div class="about">
        <h4>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum facere veritatis pariatur consequatur. Facere
            deserunt alias sed. Suscipit quo possimus a aliquam pariatur dolorem reiciendis natus ratione optio ipsam,
            sint recusandae at? Nisi eum repudiandae dolorum rerum obcaecati nemo debitis sapiente. Fugit, deleniti.
            Ipsum maxime, repellat consequuntur porro nam dignissimos voluptatum nemo ratione vel fugit, assumenda
            eveniet ducimus deserunt at.
        </h4>
    </div>
</body>

</html>