<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Title</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <!-- <h1>iWeather App</h1> -->
    <div>
        {{>header}}
    </div>
    <form >
    <div class="inp">
        <input type="text" class="search" id="search" placeholder="Search City Here">
    </div>
    <button id="btn">Search</button>
</form>
<div id="container">

</div>
</body>
<script src="./js/index.js"></script>

</html>